<html>

<head>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
            padding: 30px;
            /* background: no-repeat rgb(224, 240, 248); */
            border-radius: 8px;
            text-align: start;
        }

        button {
            text-align: center;
            margin: auto 0;
            width: 200px;
            height: 50px;
            border: 0;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
            background: no-repeat #40b996;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }

        #verifyBtn {
            display: flex;
            justify-content: center;
            text-decoration: none;
        }
    </style>
</head>

<body>

    <h1>Confirm Your Email Address</h1>
    <h4>Hello <%= name %>,</h4>
    <p>Tap the button below to confirm your email address. If you didn't create an account with
        <a target="_blank" href="<%= siteURL %>">
            <%= siteName %>
        </a>, you can safely
        delete this email.
    </p>

    <a target="_blank" href="<%= redirectURL %>" id="verifyBtn">
        <button>Verify Email</button>
    </a>

    <p>If that doesn't work, copy and paste the following link in your browser: <a target="_blank"
            href="<%= redirectURL %>">
            <%= redirectURL %>
        </a>
    </p>

    <h3>Regards, <br> Ashab Hussan</h3>

</body>

</html>